<footer>
    <p class="unimportant" style="margin-top:20px;text-align:center;">- Tinyboard + 
        <a href="https://github.com/vichan-devel/vichan">vichan</a> {{ config.version }} -
    <br>Tinyboard Copyright &copy; 2010-2014 Tinyboard Development Group    
    <br><a href="https://github.com/vichan-devel/vichan">vichan</a> Copyright &copy; 2012-2024 vichan-devel</p>
    {% for footer in config.footer %}<p class="unimportant" style="text-align:center;">{{ footer }}</p>{% endfor %}
</footer>
